<div class="card">
  <div class="card-header">
    <h3><%= @post.title %></h3>
  </div>
  <div class="card-body">
    <%= @post.content %>
  </div>
  <div class="card-footer">
    작성자 : <%= @post.user_id&.email %>
  </div>
</div>
<% if current_user %>
  <%= render "comments/form", comment: Comment.new, post: @post, user: current_user %>
<% end %>
<hr>

<%= render 'comments/comments', comments: @post.comments.order(created_at: :desc) %>
<hr>
<%= link_to "뒤로가기", posts_path %>


<!--
제목: <%=@post.title%><br />
내용: <%=@post.content%><br />

<%=image_tag(@post.image_url.url) unless @post.image_url.url.nil? %>

<p>
  <% @post.hashtags.each do |h| %>
    #<%= h.title%>
  <% end %>
</p>
<br><br>----------------------------<br /><br />

<%=form_for Comment.new, url: post_comments_path(@post.id) do |f|%>
  <%=f.label :content, '댓글 내용'%>
  <%=f.text_field :content%><br />
  <%=f.submit '댓글 작성'%>
<%end%>

<br><br>
<%=link_to '뒤로 가기', '/'%><br />

<%@post.comments.each do |comment|%>
  <%=comment.content%>
  <%if comment.user_id == current_user.id%>
    <%= link_to '[삭제]', post_comment_path(@post.id, comment.id), method: "delete"%>
  <%end%><br />
<%end%> -->
